@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  font-family: "Poppins", sans-serif;
}
body {
  background: #000000;
}
/* HOME STYLE */
.home h1 {
  font-size: 6rem;
  font-weight: 400;
  color: #00ffff;
  margin: 0;
}
.home h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 30px 0 0 0;
}
/* SEARCH BAR STYLE */
.searchBar{
  text-align: center;
  margin-bottom: 80px;
}
.searchBar input {
  width: 50%;
  margin: 30px 0 0 0;
  padding: 10px 0px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: #ff4500;
}
.searchBar button {
  width: 5%;
  margin: 0;
  padding: 5px 0;
  border-radius: 0 10px 10px 0;
  outline: none;
}

button:hover {
  outline: none;
}

/* RECIPE LIST STYLE */
.main-ingredient-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.MainDiv {
  margin: 20px;
  padding: 0;
  border-radius: 10px 10px 10px 10px;
  background: #ff4500;
}
.MainDiv:hover {
  transform: scale(1.05);
  background: orangered;

}
.main-ingredient-card img {
  width: 350px;
  /* border-radius: 10px 10px 10px 10px; */
}
.main-ingredient-card h2 {
  font-size: 1.3rem;
  text-align: center;
}
.main-ingredient-card li {
  text-align: center;
  list-style: none;
}
